# ======================================================================
# usage for interactive sessions: 
# $ docker-compose run --service-ports ML_devenv bash
# ======================================================================
version: "3"
services: 
  ML_devenv: 
    image: karenyng/ml_devenv:latest
    volumes:
      - ~/Documents/Projects/:/root/Software/Projects
    ports:
      - "42424-42434"
